.p5-background {
    position: absolute;
    max-height: 1440px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.p5-background.p5-background-visible {
    opacity: 1;
}

.p5-background-canvas {
    width: 100%;
    height: 100%;
}

.p5-background canvas,
.p5-background-canvas canvas {
    max-height: 1440px;
    pointer-events: none;
    display: block;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    inset: 0 !important;
    z-index: -1;
}

.p5-background-overlay-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 2;
}

.p5-background-overlay-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 2;
}

@media (max-width: 768px) {
    .p5-background {
        height: 70vh;
        overflow: hidden;
    }

    .p5-background-overlay-bottom {
        height: 40%;
    }

    .p5-background-overlay-top {
        height: 20%;
    }
}