.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    min-height: 100vh;
    max-width: 1920px;
}

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}