.navbar {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-l) var(--padding-page);
    width: 100%;
    background-color: transparent;
    transition: transform .5s ease-in-out;
    transform: translateY(0);
}

.navbar-hidden {
    transform: translateY(-100%);
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.navbar-left {
    gap: var(--padding-page);
}

.navbar-right {
    justify-content: flex-end;
    gap: var(--padding-page);
}

.navbar-center {
    justify-content: center;
    gap: var(--padding-page);
}

.nav-item {
    font-family: var(--font-primary);
    font-size: var(--text-xs);
    font-weight: var(--weight-regular);
    line-height: normal;
    color: var(--grey);
    margin: 0;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity var(--transition-fast);
}

.nav-item:hover {
    color: var(--black);
}

.nav-item .grey {
    color: var(--grey);
    margin-left: 4px;
}