.fade-section {
    width: 100%;
    height: 30vh;
    max-height: 200px;
    margin-top: min(90vh, 1440px);
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%);
    z-index: 10;
    position: relative;
    pointer-events: none;
}

@media (max-width: 768px) {
    .fade-section {
        display: none;
    }
}