@import './tokens.css';

@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Basel Grotesk';
  src: url('/fonts/Basel-Grotesk-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial Sans';
  src: url('/fonts/PPEditorialSans-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial Old';
  src: url('/fonts/PPEditorialOld-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Acma';
  src: url('/fonts/Acma-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}


html {
  scroll-behavior: auto;
  scrollbar-gutter: stable;
}

/* Additional rendering optimizations */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}